/**
 * Created by Jacob Strieb
 * May 2020
 */


/*******************************************************************************
 * Element styles
 ******************************************************************************/

html {
  font-family: sans-serif;
  padding: 10px;
}

body {
  padding: 15px;
  display: block;
  margin: auto;
  max-width: 66ch;
}

p {
  text-align: justify;
}

ul, ol {
  padding-left: 1em;
}

ol li {
  margin-bottom: 1em;
}

button {
  padding: 11px;
  background: rgb(95, 158, 160);
  color: white;
  border: 0.5px solid white;
  border-radius: 5px;
  margin-top: 5px;
  margin-right: 5px;
  cursor: pointer;
  font-weight: bold;
  white-space: nowrap;
}

label {
  display: block;
  font-variant: small-caps;
  margin-bottom: 5px;
}

summary {
  font-variant: small-caps;
  margin-bottom: 5px;
  user-select: none;
}

input, textarea {
  padding: 10px;
  border: 0.5px solid black;
  border-radius: 3px;
  margin-bottom: 15px;
  box-sizing: border-box;
  width: 100%;
  resize: none;
  font-family: sans-serif;
  font-size: 0.9em;
}

input[type="checkbox"] {
  cursor: pointer;
  margin-right: 0;
}

hr {
  margin-top: 3em;
  margin-bottom: 3em;
  border: 0;
  border-top: 0.5px solid rgba(200, 200, 200, 1);
}

footer hr {
  margin-bottom: 1em;
  border-top: 0.5px solid black;
}

footer p {
  text-align: center;
}

*[aria-disabled="true"] {
  pointer-events: none;
  cursor: not-allowed;
  user-select: none;
}

code {
  font-family: monospace, monospace;
  padding: 0 3px;
}


/*******************************************************************************
 * Classes
 ******************************************************************************/

/* View on GitHub SVG ribbon */
@media (max-width: 100ch) {
  .ribbon {
    width: 100px;
    height: 100px;
  }
}

.ribbon {
  position: absolute;
  top: 0;
  right: 0;
}


/* Error area */
.red-border {
  border: 3px solid red;
  padding: 2em;
}

.error, .error p {
  text-align: center;
}


/* Password & Confirm Password inputs */
.split-row {
  display: flex;
  flex-flow: row wrap;
  justify-content: space-between;
  align-items: center;
}

.password {
  flex: 1;
}

.confirm-password {
  flex: 1;
  margin-left: 20px;
}



/* Advanced settings */
#advanced-label {
  cursor: pointer;
  margin-bottom: 10px;
}

.advanced {
  display: flex;
  flex-flow: row wrap;
}

.advanced .labeled-input {
  display: flex;
  flex-flow: row-reverse nowrap;
  justify-content: flex-end;
}

.advanced .labeled-input label {
  width: auto;
  margin-right: 20px;
  white-space: nowrap;
  cursor: pointer;
}

.advanced .labeled-input input {
  width: auto;
  margin-right: 5px;
}


/* Output area */
.output input {
  background: rgba(235, 235, 235, 1);
}

.alert {
  opacity: 0;
  transition: opacity 0.25s;
}


/* Bookmarks that look like buttons, but different */
.bookmark {
  padding: 11px;
  background: none;
  color: rgb(95, 158, 160);
  border: 3px solid;
  border-radius: 5px;
  font-weight: bold;
  text-decoration: none;
  margin-top: 5px;
  margin-right: 5px;
  cursor: pointer;
  display: inline-block;
  margin: auto;
  text-align: center;
}

.bookmark:hover {
  background: rgb(95, 158, 160);
  color: white;
  border: 3px solid rgb(95, 158, 160);
}

.bookmark[aria-disabled="true"] {
  background: rgba(235, 235, 235, 1);
  color: gray;
}

/* Buttons on the same line as inputs */
.inline-button-container {
  display: flex;
  width: 100%;
}

.inline-button-container * {
  margin: 5px;
}

.inline-button-container input {
  margin-left: 0;
}

